/* Footer */
footer {
  padding: var(--spacing-x-large);
}

.footer__paragraph {
  text-align: center;
  font-size: 0.8rem;
}
/* Media queries */
/* Tablet */
@media screen and (max-width: 768px) {
  footer {
    padding: var(--spacing-small);
  }
}
