@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: aliceblue;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

/* HEADER */
header {
  background-color: blueviolet;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon--link {
  position: fixed;
  left: 10px;
  padding: var(--spacing-medium);
}

.header__heading {
  text-align: center;
  margin-left: 16px;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

/* Main */
main {
  width: 100%;
  padding: var(--spacing-x-large);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__section--container {
  background-color: #fff;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 4px grey;
  font-family: sans-serif;
}

/* Quiz content */
.top__quiz--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  font-weight: 600;
}
/* Score Counter */
.score__count--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
  border: 1px solid #000;
  border-radius: 8px;
}

.score__number {
  padding: var(--spacing-small);
}

/* Question Counter */
.question__count--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
}

.question__count {
  display: inline;
}

.current__question--count {
  display: inline;
}

/* Progress Bar */
.progress__bar--container {
  height: 16px;
  width: 150px;
  padding: sm;
  border: 1px solid black;
  border-radius: 8px;
}

.progress__bar {
  background-color: blueviolet;
  height: 100%;
  border: 2px solid blueviolet;
  border-radius: 4px;
}

.question {
  padding: var(--spacing-medium);
  padding-top: var(--spacing-x-large);
  font-size: var(--font-size-medium);
  font-weight: 500;
  text-align: center;
}

/* Buttons */
.answer__button--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium) 0;
}

.answer__button {
  background-color: blueviolet;
  color: #fff;
  width: 75%;
  padding: var(--spacing-medium) 0;
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-base);
}

.bottom__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--spacing-medium);
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacing-medium);
}

.bottom__button {
  background-color: #00c200;
  color: #fff;
  padding: var(--spacing-medium);
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-base);
  text-decoration: none;
}
.score__page--button {
  background-color: blueviolet;
  display: block;
}

.hidden-button {
  display: none;
}

/* Popup Window */
.popup__window {
  font-family: sans-serif;
}

/* Psuedo Classes */

.header__icon--link:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.header__link:hover {
  color: #481875;
  transition: all 0.2s ease;
}

.answer__button:hover {
  background-color: #481875;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.correct:hover {
  background-color: #00c200;
  transform: none;
}

.answer__button:active {
  transform: scale(1);
}

.answer__button:disabled {
  background-color: #b2b2b2;
  cursor: not-allowed;
  transform: none;
}

.bottom__button:hover {
  background-color: #019601;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.bottom__button:active {
  transform: scale(1);
}

.score__page--button:hover {
  background-color: #481875;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.score__page--button:active {
  transform: scale(1);
}

.answer__button.correct {
  background-color: #00c200;
}

.answer__button.incorrect {
  background-color: #ff221a;
}

/* Media Queries */
/* Tablet */
@media (max-width: 800px) {
  main {
    padding: var(--spacing-medium);
  }
  .hero__section--container {
    width: 80%;
  }
  .top__quiz--container {
    padding: none;
    gap: 1rem;
  }

  .progress__bar--container {
    width: 100px;
  }
  .score__count--container {
    width: 100%;
  }
  .question__count--container {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 535px) {
  .header__link {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .hero__section--container {
    width: 100%;
  }
  .top__quiz--container {
    flex-direction: column;
    gap: 1rem;
  }
  .progress__bar--container {
    width: 200px;
  }
  .question {
    padding: var(--spacing-small);
    font-size: var(--font-size-base);
  }

  .bottom__container {
    display: flex;
    flex-direction: column;
  }

  .bottom__button {
    text-align: center;
    width: 80%;
  }
}
