@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: aliceblue;
  width: 100%;
  min-height: 100vh;
}

header {
  background-color: blueviolet;
  width: 100%;
  padding: 1rem;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

/* Main */
main {
  width: 100%;
  padding: var(--spacing-x-large);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hero-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
} */

.hero__section--container {
  background-color: #fff;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
  border: 1px solid #000;
  border-radius: 8px;
  font-family: sans-serif;
}

/* Quiz content */
.top__quiz--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  font-weight: 600;
}

.question__count {
  display: inline;
}
.current__question--count {
  display: inline;
}

.score__count--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-small);
  border: 1px solid #000;
  border-radius: 8px;
}

.score__number {
  padding: var(--spacing-small);
}

.question {
  padding: var(--spacing-medium) 0;
  font-size: var(--font-size-medium);
  font-weight: 500;
  text-align: center;
}

.answer__button--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium) 0;
}

.answer__button {
  background-color: blueviolet;
  color: #fff;
  width: 75%;
  padding: var(--spacing-medium) 0;
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-base);
}

.bottom__container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--spacing-medium);
  justify-content: space-between;
  align-items: center;
}

.timer {
  font-size: var(--font-size-base);
}

.next__page--button {
  background-color: #00c200;
  color: #fff;
  padding: var(--spacing-medium);
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-base);
}

/* Psuedo Classes */
.header__link:hover {
  color: #481875;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.answer__button:hover {
  background-color: #481875;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.next__page--button:hover {
  background-color: #019601;
  transition: all 0.3s ease;
}
