body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: var(--spacing-medium);
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__heading--container {
  background-color: blueviolet;
  color: white;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--spacing-large);
  border-radius: 8px;
}

.heading__paragraph--container {
  border-top: 1px solid #fff;
  padding-top: var(--spacing-small);
  line-height: 1.5rem;
}

.heading__paragraph {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-x-large);
  padding: var(--spacing-x-large);
}

.main__paragraph {
  font-size: var(--font-size-medium);
}

.quiz__button--link {
  background-color: blueviolet;
  color: white;
  padding: var(--spacing-medium);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: var(--font-size-base);
}

.quiz__button--link:hover {
  background-color: #481875;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 520px) {
  main {
    padding: var(--spacing-medium);
  }
  .main__heading--container {
    width: 100%;
    height: auto;
  }
  .heading__paragraph {
    line-height: 2rem;
  }
}

/* Phone */
@media screen and(max-width: 400px) {
  .main__heading--container {
    padding: var(--spacing-large);
  }
  .main__container {
    justify-content: center;
    align-items: center;
  }
}
